<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users Feedback</title>
    <link href="https://fonts.googleapis.com/css2?family=Fira Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/base-styles.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/assets/img/logo.png}">
</head>
<body>
    <div>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Avgeek Telegram Bot Admin</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/users">Users</a></li>
                    <li><a href="/custom-messages">Messages</a></li>
                    <li><a href="/statistics/users">Statistics</a></li>
                    <li class="active"><a href="/feedback">Feedback</a></li>
                    <li><a th:href="${repositoryLink}">Github</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div style="padding-bottom: 50px">
        <h1 style="padding-top: 30px; padding-left: 10px">Overall Users Feedback</h1>
        <ul class="list-group" th:each="feedback : ${usersFeedback}">
            <li class="list-group-item" th:text="${feedback.getCreatedAt()} + ': ' + ${feedback.getUsername()} + ' - ' + ${feedback.getText()}"></li>
        </ul>
    </div>
</body>
</html>